<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. In assumenda
      expedita, excepturi illo illum reiciendis, similique aspernatur corrupti
      architecto non doloremque explicabo labore sequi, quae doloribus
      asperiores ab blanditiis. Illum!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem
      quisquam explicabo ex ducimus fuga ipsa. Totam in sequi, quod numquam
      eveniet repudiandae tempore sint odit saepe, voluptates voluptatibus animi
      blanditiis.
    </p>
  </body>
</html>
